h1 {
    margin-top: 10px;
    font-family: 'Calistoga', cursive;
}

.userPosts{
    border: 2px solid gold;
    border-radius: 25px;
}

h1{
    text-align: center;
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

#slide1{
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

#slide1 a {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid purple;
    border-bottom: 1px solid transparent;
    border-right: transparent;
    border-left: transparent;
    background-color: #eee;    
}

#slide1 a:hover{
    background-color: rgba(128,0,128, 0.4)
}

#postSlide a {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}

#postSlide a {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}