.just-this {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid purple;
    border-top: 1px solid transparent;
    border-radius: 8px;
    background-color: #eee;
  }

.list-item1 {
    margin-bottom: 5px;
    margin-left: 15px;
}