.postSlideContainer {
    margin-top: 30px;
}

#postSlide {
    width: 450px;
    height: 270px;
    margin-top: 20px;
}

#postSlide a {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}