.postSlideContainer {
    margin-top: 10px;
}

#postSlide {
    width: 450px;
    height: 270px;
    margin-top: 20px;
}

#postSlide a {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}

h3{
    font-family: 'Calistoga', cursive;
    text-align: center;
}

#the-word-posts{
    text-shadow: 1px 1px 3px purple;
}